html{
    overflow-y: scroll;
}
#admin-body{
    font-family: 'Open Sans', sans-serif;
    background: #f0f3f3;
}
#admin-body .wrapper {
    height: 100%;
    display: table;
    width: 100%;
}

/*--------------- HEADER ---------------*/
#admin-body .header {
    display: table-row;
    height: 50px;
    background: #1d212a;
    color: #B3B8C3;
    line-height: 50px;
}
#admin-body .header .logo{
    float: left;
    width: 220px;
    text-align: center;
    font-size: 18px;
    color: #F1F1F1;
}
#admin-body .header .logo:hover, #admin-body .header .logo:active{
    text-decoration: none;
    color: #FFF;
}
#admin-body .header .logo img{
    vertical-align: baseline;
    margin-right: 5px;
}
#admin-body .header .nav{
    margin-left: 220px;
    padding-right: 20px;
}
#admin-body .header .nav a{
    color: #B3B8C3;
}
#admin-body .header .nav a:hover, #admin-body .header .nav a:focus, #admin-body .header .nav a:active{
    color: #fff;
    text-decoration: none;
}
#admin-body .header .nav a i{
    margin-right: 5px;
}

#admin-body .box {
    display: table-cell;
}

/*--------------- LEFT MENU ---------------*/
#admin-body .sidebar {
    background: #1d212a;
    width: 220px;
    padding: 0;
    vertical-align: top;
}
#admin-body .sidebar a.menu-item{
    border-top: 1px solid #333;
    display: block;
    padding: 15px 20px;
    color: #B3B8C3;
}
#admin-body .sidebar a.menu-item:hover, #admin-body .sidebar a.menu-item:focus{
    text-decoration: none;
    color: #FFF;
}
#admin-body .sidebar a.active{
    border-color: #27b6af;
    background: #27b6af;
    color: #fff;
}
#admin-body .sidebar a.active:hover{
    background: #27b6af;
    color: #fff;
}

#admin-body .sidebar a.menu-item i{
    margin-right: 10px;
}
#admin-body .sidebar a.menu-item .badge{
    background: #fff;
    color: #555;
    margin-top: 2px;
    float: right;
}

/*--------------- CONTENT ---------------*/
#admin-body .main {
    height: 100%;
    display: table;
    width: 100%;
    background: #fff;
}
#admin-body .main .page-title{
    font-size: 18px;
    background: #f6f8f8;
    padding: 13px 20px;
}

#admin-body .main .container-fluid{
    padding: 20px;
}
#admin-body .main a, #admin-body .main .btn, #admin-body .main .form-control, .input-group-addon, .selectize-input{
    border-radius: 0 !important;
}

#admin-body .table {
    table-layout: fixed;
}
#admin-body .table th{
    font-size: 14px;
    color: #565656;
}
#admin-body .table td{
    font-size: 14px;
}
#admin-body .table td.control{
    vertical-align: middle;
    text-align: right;
}
#admin-body .table td.status{
    vertical-align: middle;
    text-align: center;
}
#admin-body .table td.vtop{
    vertical-align: top;
}

#admin-body .switcher{
    border: none;
    background: #b3b8c3;
    color: #FFF;
    height: 20px;
    min-width: 40px;
    font-size: 11px;
    border-radius: 10px;
    padding: 1px;
}
#admin-body .switcher .slider{
    background: #f0f3f3;
    height: 18px;
    border-radius: 10px;
    box-shadow: none;
}
#admin-body .switcher.is-active{
    background: #27b6af;
}
#admin-body .switcher .textNo{
    color: #fff;
}

#admin-body .actions li i{
    margin-right: 8px;
}
#admin-body .actions .glyphicon-menu-hamburger{
    cursor: pointer;
    font-size: 15px;
    color: #777;
}
#admin-body .actions .glyphicon-menu-hamburger:hover{
    color: #337ab7;
}

.welcome-notifications .col-md-3{
    padding: 15px;
}
.welcome-notifications .module-link{
    display: block;
    padding: 15px;
    color: #fff;
}

.welcome-notifications a.module-link-color1{background: #1ab394;}
.welcome-notifications a.module-link-color1:hover{background: #189177;}
.welcome-notifications a.module-link-color2{background: #23c6c8;}
.welcome-notifications a.module-link-color2:hover{background: #1a8f91;}
.welcome-notifications a.module-link-color3{background: #f8ac59;}
.welcome-notifications a.module-link-color3:hover{background: #b98141;}
.welcome-notifications a.module-link-color4{background: #f88e59;}
.welcome-notifications a.module-link-color4:hover{background: #b96646;}

.welcome-notifications .module-link .glyphicon {
    font-size: 40px;
}
.welcome-notifications .module-link .module-title{
    font-size: 12px;
    line-height: 12px;
}
.welcome-notifications .module-link .module-notices{
    font-size: 28px;
    font-weight: bold;
    line-height: 30px;
}

.online-circle {
    width: 10px;
    height: 10px;
    background: #27b6af;
    margin: 5px 5px 0 0;
}

.chart-table {
    width: 100%;
}
.chart-table th{
    border: 1px solid #ccc;
    padding: 10px;
}
.chart-table td{
    border: 1px solid #ccc;
    padding: 0 10px;
    height: 300px;
    vertical-align: top;
}

/*--------------- HELPERS ---------------*/

h2{
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 10px;
    font-size: 30px;
}
h2 .btn-group a{
    text-transform: none;
}
h4{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
    color: #555;
}
h4 b{
    font-weight: 400;
}

hr.margin-30{
    margin: 30px 0;
}
.confirm-delete{
    color: #a94442 !important;
}
.color-red{
    color: #a94442;
}
.font-16 {
    font-size: 16px;
}
.font-12 {
    font-size: 12px;
}
.font-10 {
    font-size: 10px;
}

#notify-alert {
    display: none;
    position: fixed;
    top: 50px;
    right: 10px;
    width: 300px;
}
.smooth {
    color: #aaa;
}
.dashed-link:before{
    font-family: 'Glyphicons Halflings';
    content: "\e252";
    font-size: 10px;
    margin-right: 4px;
}
.dashed-link.collapsed:before{
    content: "\e250";
}
.dashed-link:hover, .dashed-link:focus{
    text-decoration: none;
    color: #333;
}
.glyphicon-menu-hamburger:before {
  content: "\e055";
}
