.editable-list {
    min-height: 50px;
    background: #ffffff;
}

.editable-list ol {
    padding-left: 0;
    list-style: none;
}

.editable-list li {
    padding: 10px;
    position: relative;
    background-color: #ffffff;

    border: #ffffff 1px solid;
}

.editable-list li:hover {
    background-color: #f5f5f5;
    border: #31708f 1px solid;
}

.editable-list li .js-remove {
    display: none;

    cursor: pointer;
    position: absolute;
    top: 0;
    right: 5px;
}

.editable-list li:hover .js-remove {
    display: inline-block;
}

.editable-list button {
    transition: opacity .1s ease;
    cursor: pointer;
}

.editable-list button:hover {
    opacity: 1;
}