.sortable {
    min-height: 50px;
    background: #ffffff;
}

.sortable {
    padding-left: 0;
    list-style: none;
}

.ui-sortable li {
    position: relative;
    background-color: #ffffff;

    border: 1px solid #d4d4d4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 10px;
    padding: 3px;
}

.ui-sortable-handle {
    cursor: move;
}

.ui-sortable li:hover {
    background-color: #f5f5f5;
    border: #31708f 1px solid;
}

/*
.sortable li .js-remove {
    display: none;

    cursor: pointer;
    position: absolute;
    top: 0;
    right: 5px;
}

.sortable li:hover .js-remove {
    display: inline-block;
}
*/
.sortable button {
    transition: opacity .1s ease;
    cursor: pointer;
}

.sortable button:hover {
    opacity: 1;
}

.sortable .placeholder {
    outline: 1px dashed #4183C4;
}

.sortable .mjs-nestedSortable-error {
    display: none;
}

.model-form .sortable:first-of-type li {
    margin-left: 0;
    margin-right: 0;
}

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
    border-color: #999;
}

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
    border-color: #999;
}